In [1]:
import pandas as pd
import csv

In [2]:
employee = pd.read_csv("C:\\Users\\hp\\Desktop\\New folder (2)\\Data For Python Assessment\\employee_data.csv")
insurance = pd.read_csv("C:\\Users\\hp\\Desktop\\New folder (2)\\Data For Python Assessment\\insurance_data.csv")
vendor = pd.read_csv("C:\\Users\\hp\\Desktop\\New folder (2)\\Data For Python Assessment\\vendor_data.csv")

In [3]:
employee.head(2)

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204

In [4]:
employee.shape

(1200, 10)

In [5]:
insurance.head(2)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592

In [6]:
vendor.head(2)

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117

# Task # 1
## Merge the 3 dataset and create 1 view of data.
You can merge insurance_data.csv and employee_data.csv on
AGENT_ID You can merge insurance_data.csv and vendor_data.csv on

VENDOR_ID Note: Use left Outer join as not all claims require Vendor

In [7]:
insurance_employee =pd.merge(insurance , employee, on= "AGENT_ID", how = "left",suffixes=('_C','_A'))
insurance_employee_vendor = pd.merge(insurance_employee,vendor, on = "VENDOR_ID", how = "left" )
insurance_employee_vendor.head(2)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_A,POSTAL_CODE_A,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0

In [8]:
# combine datafile convert in to csv file 
insurance_employee_vendor.to_csv("insurance_employee_vendor.csv",index=False)

# Task #2
Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [9]:
list_insurance_type = insurance["INSURANCE_TYPE"].value_counts()
list_insurance_type[:3]

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

# Task #3
Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [10]:
list_high_risk = insurance[insurance["RISK_SEGMENTATION"] == "H"]
state_list = list_high_risk["STATE"].value_counts()
state_list[:5]

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE, dtype: int64

# Task #4
Business wants to create a new variable “COLOCATION” which will have following values IF
Customer State == Incident State 
== Agent Address State THEN 1 ELSE 0
Find the mean of this new column

In [11]:
i_e_v = insurance_employee_vendor
i_e_v.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1_C',
       'ADDRESS_LINE2_C', 'CITY_C', 'STATE_C', 'POSTAL_CODE_C', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME', 'DATE_OF_JOINING',
       'ADDRESS_LINE1_A', 'ADDRESS_LINE2_A', 'CITY_A', 'STATE_A',
       'POSTAL_CODE_A', 'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'VENDOR_NAME',
       'ADDRESS_LINE1', 'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [12]:
i_e_v["COLOCATION"] = ((i_e_v["STATE_C"] == i_e_v["INCIDENT_STATE"]) & (i_e_v["STATE_C"] == i_e_v["STATE_A"])).astype("int")

In [13]:
i_e_v["COLOCATION"] .mean()

0.0044

# Task #5
Data entry error was detected in the data and you are required to correct it. If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.

In [14]:
update_row_police = i_e_v[(i_e_v["AUTHORITY_CONTACTED"] != "Police") & (i_e_v["POLICE_REPORT_AVAILABLE"] == 1)]

In [15]:
index_no = update_row_police.index

In [16]:
# update the AUTHORITY_CONTACTED value to police 
i_e_v.loc[index_no,"AUTHORITY_CONTACTED"] = "Police"

In [17]:
i_e_v[(i_e_v["AUTHORITY_CONTACTED"] != "Police") & (i_e_v["POLICE_REPORT_AVAILABLE"] == 1)]

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1_C, ADDRESS_LINE2_C, CITY_C, STATE_C, POSTAL_CODE_C, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_A, ADDRESS_LINE2_A, CITY_A, STATE_A, POSTAL_CODE_A, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, VENDOR_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, COLOCATION]
Index: []

[0 rows x 54 columns]

# Task #6
Business wants to check the Claim Amount for deviation for each transaction, they would
like you to calculate as follow
CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
/ CURRENT_CLAIM_AMOUNT
If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
If there is less than 30 days of transaction history THEN
-1 Note: LAST_30DAYS does not include current day

In [29]:
# convert TXN_DATE_TIME to date time 
i_e_v["TXN_DATE_TIME"] = pd.to_datetime(i_e_v["TXN_DATE_TIME"])

In [31]:
i_e_v.head(2)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_A,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0

In [53]:
last_date = i_e_v["TXN_DATE_TIME"].max()
start_date = last_date - pd.Timedelta(days=31)
print("|",start_date, "|-----|" ,last_date,"|")

| 2021-05-30 00:00:00 |-----| 2021-06-30 00:00:00 |

In [54]:
last_30_days = i_e_v[(i_e_v["TXN_DATE_TIME"] > start_date) & (i_e_v["TXN_DATE_TIME"] < last_date)]

In [57]:
last_30_days.head(2)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_A,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
9189,2021-05-31,TXN00009190,A00004648,PLC00005883,2014-12-20,2021-05-28,2021-05-28,Property,112.57,16000,...,95501,114787167,NPRV40932107822625,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210.0,0
9190,2021-05-31,TXN00009191,A00005798,PLC00001906,2015-02-02,2021-05-24,2021-05-26,Travel,69.41,2000,...,6042,109301503,EMFD60069652268552,"Welch, Keller and Hicks",1820 22nd Street Southeast,NaN,Washington,DC,20020.0,0

In [83]:
AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS = dict(last_30_days.groupby("INSURANCE_TYPE")["CLAIM_AMOUNT"].mean())

In [84]:
def CLAIM_DEVIATION(row):
    if (last_date- row["TXN_DATE_TIME"]) < pd.Timedelta(days=30):
        return -1
    CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS[row["INSURANCE_TYPE"]] / row['CLAIM_AMOUNT']
    if CLAIM_DEVIATION < 0.5:
        return 1
    else:
        return 0

In [85]:
i_e_v["CLAIM_DEVIATION"] = i_e_v.apply(CLAIM_DEVIATION,axis = 1)

In [86]:
i_e_v["CLAIM_DEVIATION"].value_counts()

 0    9216
-1     784
Name: CLAIM_DEVIATION, dtype: int64

# Task #7
Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
Total Claim Amount Approved under them in descending order

In [95]:
agent_count = i_e_v.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique()

In [103]:
agent_index = agent_count[agent_count>2].index

In [107]:
Top_agents = i_e_v.groupby(['AGENT_ID','AGENT_NAME']).sum().loc[agent_index][['CLAIM_AMOUNT']].sort_values('CLAIM_AMOUNT',ascending=False)

In [105]:
Top_agents

                             CLAIM_AMOUNT
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800
AGENT00679 Clara Barnett           489000
AGENT00771 Roger Burns             422100
AGENT00125 Salvador Soriano        400400
AGENT00789 Alison Baron            392900
...                                   ...
AGENT00910 Vincent Ragan            15500
AGENT00689 Connie Hunt              13700
AGENT00732 Sylvia Tran              11300
AGENT00706 Laura Staggs             10800
AGENT00604 Thelma Salinas            5500

[1164 rows x 1 columns]

# Task #8
Mobile & Travel Insurance premium are discounted by 10%
Health and Property Insurance premium are increased by 7%
Life and Motor Insurance premium are marginally increased by 2%
What will be overall change in % of the Premium Amount Collected for all these Customer?

In [122]:
total_amount_initial = i_e_v["PREMIUM_AMOUNT"].sum()
total_amount_initial

885085.95

In [123]:
total_amount_individual  = dict(i_e_v.groupby("INSURANCE_TYPE")["PREMIUM_AMOUNT"].sum())
total_amount_individual

{'Health': 252455.73,
 'Life': 125621.22,
 'Mobile': 15191.42,
 'Motor': 165391.98,
 'Property': 202285.83,
 'Travel': 124139.77}

In [124]:
# Mobile & Travel Insurance premium are discounted by 10% 
# Health and Property Insurance premium are increased by 7%
# Life and Motor Insurance premium are marginally increased by 2%

total_amount_individual["Mobile"] *= 0.9
total_amount_individual["Travel"] *= 0.9    

total_amount_individual["Health"] *= 1.07
total_amount_individual["Property"] *= 1.07

total_amount_individual["Life"] *= 1.02
total_amount_individual["Motor"] *= 1.02

In [128]:
total_amount_individual

{'Health': 270127.6311,
 'Life': 128133.6444,
 'Mobile': 13672.278,
 'Motor': 168699.81960000002,
 'Property': 216445.8381,
 'Travel': 111725.793}

In [130]:
total_amount_after = sum(total_amount_individual.values())
total_amount_after

908805.0042000001

In [131]:
overall_change = ((total_amount_after - total_amount_initial)*100)/total_amount_initial

In [132]:
overall_change

2.6798588543858517

# Task #9
Business wants to give discount to customer who are loyal and under stress due to Covid-19. 
They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it mean.

In [134]:
doscount_list = ((i_e_v["TENURE"] >60)  & (i_e_v["EMPLOYMENT_STATUS"] == "N") & (i_e_v["EMPLOYMENT_STATUS"] == "N") 
                 & (i_e_v["NO_OF_FAMILY_MEMBERS"] >= 4))

In [135]:
i_e_v["ELIGIBLE_FOR_DISCOUNT"] = doscount_list.astype("int")

In [140]:
i_e_v["ELIGIBLE_FOR_DISCOUNT"].mean()

0.0299

# Task #10
Business wants to check Claim Velocity which is defined as follow
CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)/ NO_OF_CLAIMS_IN_LAST3DAYS
(for the current insurance type)
Note: LAST30DAYS & LAST3DAYS does not include current
day

In [142]:
last_date = i_e_v["TXN_DATE_TIME"].max()
last_3_days = last_date - pd.Timedelta(days=4)
print("|",last_3_days, "|-----|" ,last_date,"|")

| 2021-06-26 00:00:00 |-----| 2021-06-30 00:00:00 |

In [143]:
last_3_days_list = i_e_v[(i_e_v["TXN_DATE_TIME"] > last_3_days) & (i_e_v["TXN_DATE_TIME"] < last_date)]

In [146]:
last_3_days_list.head(2)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,ELIGIBLE_FOR_DISCOUNT
9897,2021-06-27,TXN00009898,A00005727,PLC00007733,2019-11-16,2021-06-14,2021-06-19,Property,114.82,17000,...,HUII66210152910986,NaN,NaN,NaN,NaN,NaN,NaN,0,-1,0
9898,2021-06-27,TXN00009899,A00003496,PLC00001925,2018-01-30,2021-06-15,2021-06-20,Motor,76.35,7000,...,HCQB64970746728804,Walker-Hines,824 Main Street,D,Manchester,CT,6040.0,0,-1,0

In [147]:
claims_30days = pd.DataFrame.from_dict(last_30_days.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',
                                       columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [166]:
claims_3days = pd.DataFrame.from_dict(last_3_days_list.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',
                                       columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [173]:
total_claims = claims_30days.join(claims_3days)

In [171]:
total_claims["CLAIM_VELOCITY"] = total_claims["NO_OF_CLAIMS_IN_LAST30DAYS"] / total_claims["NO_OF_CLAIMS_IN_LAST3DAYS"]

In [172]:
total_claims

,NO_OF_CLAIMS_IN_LAST30DAYS,NO_OF_CLAIMS_IN_LAST3DAYS,CLAIM_VELOCITY
Health,136,14,9.714286
Life,140,14,10.000000
Mobile,134,10,13.400000
Motor,122,13,9.384615
Property,129,13,9.923077
Travel,125,14,8.928571

# Task #11
Find all low performing agents i.e. employees who are in the bottom 5 percentile based
on Claims worked by them.

In [223]:
all_agent_list = i_e_v.groupby("AGENT_ID")["CLAIM_AMOUNT"].sum()

In [227]:
bottom_5_percentile = i_e_v.groupby('AGENT_ID')['CLAIM_AMOUNT'].sum().quantile(0.05)

In [228]:
low_performing_agent_list = all_agent_list[all_agent_list[:] <= bottom_5_percentile]

In [229]:
pd.DataFrame(low_performing_agent_list)

            CLAIM_AMOUNT
AGENT_ID
AGENT00006         22400
AGENT00014          7400
AGENT00016         27000
AGENT00085         25700
AGENT00088         27700
AGENT00091         30000
AGENT00098         28200
AGENT00134         22000
AGENT00149         28900
AGENT00156         13200
AGENT00172         22200
AGENT00185         16100
AGENT00186         27700
AGENT00188         28400
AGENT00197         18500
AGENT00252         20000
AGENT00263         11500
AGENT00275         16200
AGENT00279         28000
AGENT00300         12600
AGENT00310         28800
AGENT00316         22200
AGENT00351         21700
AGENT00425         17800
AGENT00442         30300
AGENT00536         20000
AGENT00562         21100
AGENT00571         24200
AGENT00585         16600
AGENT00590         22200
AGENT00604          5500
AGENT00621          5300
AGENT00628          6100
AGENT00672         21300
AGENT00689         13700
AGENT00706         10800
AGENT00721          9000
AGENT00732         11300
AGENT00773         15000
AGENT00780         11300
AGENT00790          6000
AGENT00804         20000
AGENT00805         22600
AGENT00830         23500
AGENT00841         17800
AGENT00856         24200
AGENT00894         27600
AGENT00910         15500
AGENT00969         28300
AGENT00985         30000
AGENT01021         24300
AGENT01037          5600
AGENT01052         28000
AGENT01077          4200
AGENT01107         24700
AGENT01128         28000
AGENT01131         27500
AGENT01151         28000
AGENT01154           800
AGENT01179         27300

# Task #12
Business wants to find all Suspicious Employees (Agents).
IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified
as Suspicious ELSE Not
CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High
AND INCIDENT_SEVERITY = “Major Loss”
If Suspicious, then 1 ELSE 0. Find mean of this column.

In [232]:
agent_list = i_e_v[(i_e_v['CLAIM_STATUS']=='A')&(i_e_v['RISK_SEGMENTATION']=='H')&(i_e_v['INCIDENT_SEVERITY']=='Major Loss')]

In [236]:
group_suspicious_data = agent_list.groupby("AGENT_ID").sum()

In [256]:
group_suspicious_agent = list(group_suspicious_data[group_suspicious_data["CLAIM_AMOUNT"] >= 15000].index)

In [242]:
employee.head(2)

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204

In [261]:
employee["Suspicious"] = 0

In [262]:
susp_emp_list = employee["AGENT_ID"].isin(group_suspicious_agent)
employee.loc[susp_emp_list,"Suspicious"] = 1

In [263]:
employee["Suspicious"].mean()

0.12416666666666666